.returnTo.fullWidth {
    width:100%;
}

div[data-key] {
    padding:2px;
    margin-top:4px;
    transition: box-shadow .4s, -webkit-box-shadow .4s, -moz-box-shadow .4s;
    position: relative;
}

section {
    background: linear-gradient(to right, rgba(195,195,195,0) 0%, rgba(195,195,195,1) 25%, rgba(195,195,195,1) 75%, rgba(195,195,195,0) 100%);
    height: 1px;
    margin-bottom:-2px;
    clear:both;
    /*background: black;*/
}

div[data-key]:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.returnTo.anchor, a {
    font-size: small;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:80%;
    float:right;
    text-align: right;
}

.closeBtn {
    padding: 0 !important;
    width: 24px;
    height: 24px;
    float:right;
}

.truncateParent {
    position:relative;
    max-height: 3.6em;
    width: calc(96% - 36px);
}

.truncate {
    line-height: 1.2em;
    max-height: 3.6em;
    overflow:hidden
}
.truncate:after, .truncate::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
    background: linear-gradient(transparent 2.4em, white);
}

.anchor {
    color: Highlight;
    cursor: pointer;

}
.anchor:hover {
    text-decoration: underline;
}

.clearfix {
    clear:both;
}

.entryContainer {
    padding: 2px 2px 2px 8px;
}

.internal_stringWidth {
    position: absolute;
    float: left;
    white-space: nowrap;
    visibility: hidden;
}