* {
    --animation-time: .2s;
    --animation-time-slow: .4s;
    --animation-curve: cubic-bezier(.07,.95,0,1);

    --fast-animation: var(--animation-time) var(--animation-curve);
    --slow-animation: var(--animation-time-slow) var(--animation-curve);
}

body {
    min-width:64px;
    transition: background var(--fast-animation), color var(--fast-animation);
    background: var(--base-colour) !important;
    color: var(--text-colour) !important;
}

.returnTo.fullWidth {
    width:100%;
}

.returnTo.fillParent {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
}

.returnTo.fillParent.subPanel {
    background: var(--base-colour);
    transition: left var(--fast-animation), right var(--fast-animation);
    -webkit-box-shadow: 0px 0px 10px 0px var(--drop-shadow-colour);
    -moz-box-shadow: 0px 0px 10px 0px var(--drop-shadow-colour);
    box-shadow: 0px 0px 10px 0px var(--drop-shadow-colour);
}

.returnTo.fillParent.subPanel:not(.active) {
    left: calc(100% + 10px);
    right: calc(-100% - 10px);
}

div[data-key] {
    padding:2px;
    margin-top:4px;
    transition: box-shadow var(--slow-animation), -webkit-box-shadow var(--slow-animation), -moz-box-shadow var(--slow-animation);
    position: relative;
}

section {
    background: linear-gradient(to right, var(--section-edge-colour) 0%, var(--section-middle-colour) 25%, var(--section-middle-colour) 75%, var(--section-edge-colour) 100%);
    height: 1px;
    margin-bottom:-2px;
    clear:both;
    /*background: black;*/
}

div[data-key]:hover {
    -webkit-box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
    -moz-box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
    box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
}

.returnTo.anchor, .returnTo.timestamp {
    font-size: small;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:80%;
    float:right;
    text-align: right;
}

.closeBtn {
    padding: 0 !important;
    width: 24px;
    height: 24px;
    float:right;
}

.truncateParent {
    position:relative;
    max-height: 3.6em;
    width: calc(96% - 36px);
}

.truncate {
    line-height: 1.2em;
    max-height: 3.6em;
    overflow:hidden;
}
.truncate:after, .truncate::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
    background: linear-gradient(transparent 2.4em, var(--block-fade-colour));
}

.anchor {
    color: Highlight;
    cursor: pointer;
    float:right;
    max-width:85%;
}
.anchor:hover {
    text-decoration: underline;
}

.returnTo.icon {
    float:left;
    max-width:15%;
}

.clearfix {
    clear:both;
}

.entryContainer {
    padding: 2px 2px 2px 8px;
}

.internal_stringWidth {
    position: absolute;
    float: left;
    white-space: nowrap;
    visibility: hidden;
}

p {
    min-width: 0 !important;
}

.invalidEntry {
    background: var(--invalid-entry-colour);
}

.clickable {
    cursor: pointer;
    transition: box-shadow var(--slow-animation), -webkit-box-shadow var(--slow-animation), -moz-box-shadow var(--slow-animation);
}

.clickable.black:hover {
    -webkit-box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
    -moz-box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
    box-shadow: 0px 3px 10px 0px var(--drop-shadow-colour);
}

.clickable.blue:hover {
    -webkit-box-shadow: 0px 0px 5px 2px var(--blue-shadow-colour);
    -moz-box-shadow: 0px 0px 5px 2px var(--blue-shadow-colour);
    box-shadow: 0px 0px 5px 2px var(--blue-shadow-colour);
}

.image.constrainWidth {
    width: 100%;
    height: auto;
}

.image.constrainHeight {
    width: auto;
    height: 4em;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.leftFloat {
    float: left;
}

.entryRow {

}

.hidden {
    display:none;
}